---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { METADATA } from "@consts";

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft && project.data.lang === 'en')
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={METADATA.projects.en.TITLE} description={METADATA.projects.en.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <h1 class="animate font-semibold text-black dark:text-white">
        Projects
      </h1>
      {projects.length > 0 ? (
        <ul class="animate flex flex-col gap-4">
          {projects.map((project) => (
            <li>
              <ArrowCard entry={project}/>
            </li>
          ))}
        </ul>
      ) : (
        <p class="animate text-black/50 dark:text-white/50">
          No projects published yet. They'll show up here as I build them, break them, or learn something from them.
        </p>
      )}
    </div>
  </Container>
</PageLayout>
