---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
---

<PageLayout title="Ahora" description="En qué estoy ahora mismo.">
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Ahora
      </div>
      <article class="animate space-y-4">
        <p>
          Ahora mismo estoy retomando Sailing Notes como bitácora personal sobre aprendizaje, programación, micro-SaaS, quant e ideas sueltas.
        </p>
        <p>
          La idea es escribir notas pequeñas, documentar avances y dejar rastro del proceso sin convertir esto en una máquina de contenido.
        </p>
      </article>
    </div>
  </Container>
</PageLayout>
